<manifest package="org.tamanegi.atmosphere"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".LogContentProvider"
            android:authorities="org.tamanegi.atmosphere.debug.log"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>

</manifest>
